<div id="transactions">
    <app-transaction *ngFor="let t of transactions" [transaction]="t" (selected)="edit(t)" [isSelected]="current == t"></app-transaction>
    <button class="mat-elevation-z2" mat-fab color="primary" id="add" *ngIf="canAdd" (click)="add()"><mat-icon>add</mat-icon></button>
</div>
<div *ngIf="canEdit" id="edit">
    <app-edit-transaction [transaction]="current" (save)="save($event)" (cancel)="cancel()" (delete)="delete()" [disabled]="requesting"></app-edit-transaction>
</div>