:host {
    height: 100%;
    display: flex;
    position: relative;
}

:host.mobile {
    flex-direction: column;
}

#transactions {
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 24px;
}

app-transaction + app-transaction {
    margin-top: 5px;
}

#add {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#edit {
    flex: 0 0 350px;
    box-sizing: border-box;
    padding: 24px;
    border-left: 1px solid lightgrey;
}

:host.mobile #edit {
    flex: 0 0 150px;
    border-left: none;
    border-top: 1px solid lightgrey;
}