<div class="loading" *ngIf="loading; else home">
    <mat-spinner></mat-spinner>
</div>

<ng-template #home>
    <div class="header">
        <mat-card>
            <h1 mat-card-title>Pennywize</h1>
            <mat-card-content>
                <p>
                    L'ennesima app di finanza personale,<br>
                    by <code>belelabestia</code>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-card class="content">
        <h4>Entra o registrati con</h4>

        <button mat-raised-button (click)="login()">
            <div>
                <img src="assets/login/google.svg" alt="google">
                Google
            </div>
        </button>
    </mat-card>
    <p class="legal">
        Accedendo accetti i <a routerLink="/terms-and-conditions">Termini e condizioni</a> e l'
        <a routerLink="/privacy">Informativa sulla Privacy</a>
    </p>
</ng-template>