<h1>Informativa sulla privacy</h1>

<h2>Introduzione</h2>

<p>
    Mi chiamo Marco Bellezza e ho scritto Pennywize per puro diletto e perché volevo trasformare il mio foglio Excel in cui anni fa tenevo la mia contabilità privata in una Progressive Web App.
</p>

<p>
    Farò del mio meglio per tutelare i dati personali dei quali entrerò in possesso se deciderai di usare Pennywize. Tratterò i dati ai sensi di questa informativa. Questo documento è scritto ai sensi del regolamento europeo 2016/679 (GDPR).
</p>

<h2>Titolare del trattamento</h2>

<p>
    Il titolare del trattamento è Marco Bellezza (io), residente in Via Vespucci 23, Cesano Boscone (MI).<br>
    Puoi contattarmi qui: <a href="mailto:jasone.mb@outlook.com">jasone.mb@outlook.com</a>
</p>

<h2>Finalità del trattamento</h2>

<p>
    I tuoi dati personali verranno trattati per finalità strumentali alla gestione del rapporto tra me e te.
</p>

<h2>Dati trattati</h2>

<p>
    Pennywize non memorizza alcun tipo di dato personale; dati come nome e cognome, email e foto profilo verranno raccolti dall'Identity Provider mediante il quale effettuerai il login. Questi dati ti vengono mostrati nell'app semplicemente per migliorare la tua esperienza d'uso. Pennywize distingue gli utenti mediante l'identificativo fornito dal provider, e io non ho alcun modo per risalire al rispettivo utente utilizzando tale identificativo.
</p>

<p>
    Ad ogni modo, potrà verificarsi un trattamento dei dati personali derivante dal tuo utilizzo di Pennywize. Se deciderai di contattarmi per fornire un feedback, raccoglierò i tuoi dati comuni, quali il tuo nome e cognome, numero di telefono e/o email, solamente al fine di risponderti; altri dati che potrei raccogliere sono quelli che volontariamente sceglierai di inserire in Pennywize durante l'utilizzo.
</p>

<p>
    Non raccoglierò nessuna tipologia di dati speciali ai sensi dell'art. 9 del GDPR.
</p>

<h2>Dati forniti durante l'uso</h2>

<p>
    Utilizzando Pennywize, potrà verificarsi il trattamento di dati personali di terzi immessi da te nell'app. In tal caso ti poni come titolare autonomo del trattamento e ti assumi tutti gli obblighi e le responsabilita, manlevando me da ogni contestazione o pretesa avanzata da te o da terzi in relazione a tale trattamento.
</p>

<h2>Conservazione dei dati</h2>

<p>
    I dati personali trattati saranno conservati esclusivamente per il tempo necessario a raggiungere le finalità descritte in questo documento.
</p>

<p>
    Conserverò i tuoi dati nei miei dispositivi, che sono protetti mediante i comuni presidi di autorizzazione (credenziali o riconoscimento biometrico).
</p>

<h2>I tuoi diritti</h2>

<p>
    Ai sensi degli artt. 15 - 20 del GDPR, hai il diritto di:
</p>

<ul>
    <li>ottenere la conferma che sia o meno in corso un trattamento dei suoi dati personali;</li>
    <li>richiedere l'accesso ai suoi dati personali ovvero la rettifica o l'integrazione degli stessi;</li>
    <li>richiedere la cancellazione dei dati personali in presenza di uno dei motivi previsti dall'art. 17 del GDPR;</li>
    <li>ottenere in un formato strutturato, di uso comune e leggibile da dispositivo automatico i dati che lo riguardano;</li>
    <li>in ogni momento, revocare il proprio consenso al trattamento, senza pregiudicare la liceità del trattamento basata sul consenso prestato prima della revoca;</li>
    <li>proporre reclamo all'autorità competente (Garante per la Protezione dei Dati Personali), qualora ritenga che il trattamento sia contrario alla normativa vigente.</li>
</ul>

<p>
    Le richieste vanno inviate a mezzo posta elettronica al Titolare.
</p>

<h2>Modifiche</h2>

<p>
    Mi riservo di modificare o aggiornare in tutto o in parte il contenuto del presente documento, anche a causa di variazioni della normativa vigente. La data dell'ultimo aggiornamento è indicata in fondo al documento.
</p>

<p>
    Ti raccomando pertanto di verificare periodicamente i contenuti della presente informativa.
</p>

<blockquote>
    Versione aggiornata al 02/05/2020
</blockquote>