<mat-card>
    <mat-card-header>
        <mat-card-title class="main-title">
            <span class="title-container">
                <mat-icon>person</mat-icon>
                Account
            </span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-profile></app-profile>
        <mat-nav-list>
            <mat-list-item (click)="logout()">Log out</mat-list-item>
            <a mat-list-item routerLink="download-data">Download personal data</a>
            <a mat-list-item routerLink="delete-account" class="red">Delete account</a>
        </mat-nav-list>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title class="main-title">
            <span class="title-container">
                <mat-icon>info</mat-icon>
                Info
            </span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-nav-list>
            <a mat-list-item routerLink="privacy">Privacy</a>
            <a mat-list-item routerLink="terms-conditions">Terms & Conditions</a>
            <a mat-list-item routerLink="third-party">Third Party</a>
        </mat-nav-list>
    </mat-card-content>
</mat-card>