<h1>Termini e condizioni Pennywize</h1>

<h2>Introduzione</h2>

<p>
    Mi chiamo Marco Bellezza e ho scritto Pennywize per puro diletto e perché volevo trasformare il mio foglio Excel in cui anni fa tenevo la mia contabilità privata in una Progressive Web App.
</p>

<p>
    Il motivo per cui mi trovo a scrivere queste <i>Condizioni d'uso</i> (o <i>Termini e Condizioni</i>), è che ho deciso di utilizzare un Social Login per la mia app, che altrimenti sarebbe rimasta privata a mio esclusivo uso e consumo.<br>
    Invece ho deciso di concederla in licenza a chiunque voglia usarla.
</p>

<p>
    Se decidi di utilizzare Pennywize accetti le seguenti clausole.
</p>

<h2>Servizio</h2>

<p>
    Ho scritto e pertanto ho la proprietà intellettuale su tutte le componenti software del servizio Pennywize. I sorgenti sono pubblicamente accessibili sul repository GitHub <a href="https://github.com/belelabestia/pennywize">https://github.com/belelabestia/pennywize</a>.<br>
    I sorgenti sono rilasciati con licenza MIT; significa che puoi riutilizzarli e modificarli come vuoi; ti chiedo solo di non spacciarli per tuoi, né in tutto, né in parte.
</p>

<p>
    Mi occupo inoltre di hostare a mie spese un'istanza del backend e del database. Utilizzando Pennywise accetti in toto le modalità di erogazione del servizio così come predisposte da me. Mi riservo la facoltà di modificare i componenti software ovvero l'infrastruttura di Pennywise in qualsiasi momento e senza fornire giustificazioni.
</p>

<p>
    Questo servizio viene erogato senza fini di lucro; ti viene offerto senza nessun addebito né limitazioni di funzionalità o durata. Tuttavia, l'intero servizio è offerto così com'è, senza nessuna garanzia o supporto da parte mia. Non garantisco né la continuità né alcuno standard qualitativo sull'erogazione del servizio Pennywise.
</p>

<p>
    Il servizio è immediatamente disponibile con l'accesso. I dati conservati sul database sono filtrati per utente in lettura e scrittura, ma giacciono tutti sul medesimo database.
</p>

<h2>Uso del servizio</h2>

<p>
    Accetti di usare Pennywize nel rispetto della legge e di questi termini. Quando parlo di Pennywize o di "servizio", mi riferisco al complesso delle componenti software e infrastrutturali.<br>
    Nel caso in cui tu decida di avvalerti del diritto di riprodurre il software su una tua piattaforma, te ne assumi la completa responsabilità e stabilirai le tue condizioni d'uso.
</p>

<p>
    Accetti inoltre di non:
</p>

<ul>
    <li>usare Pennywize in alcun modo che possa prevedibilmente comprometterne il funzionamento;</li>
    <li>apportare manomissioni o modifiche al client;</li>
    <li>tentare di accedere senza autorizzazione all'infrastruttura o in generale ai miei sistemi.</li>
</ul>

<h2>Contenuti</h2>

<p>
    Usando Pennywize accetti di essere l'unico responsabile dell'utilizzo del servizio e in particolare delle informazioni immesse nell'app e conservate nel database. In ogni caso ogni contenuto immesso dal tuo identificativo utente si intenderà come inserito da te.
</p>

<p>
    I dati da te immessi in Pennywize saranno conservati con il fine unico di permetterne il funzionamento.
</p>

<p>
    Se immetterai dati personali di terzi, garantisci di esserne autorizzato e te ne assumi tutta la responsabilità ai sensi del regolamento europeo 2016/679 (GDPR). In ogni caso ti poni rispetto a tali dati come titolare autonomo del trattamento e ti assumi tutti gli obblighi di legge lasciando me indenne da ogni pretesa di risarcimento.
</p>

<h2>Privacy</h2>

<p>
    In linea di massima, non raccolgo nessun tipo di dato personale sugli utenti di Pennywize. Pennywize non salva nessuna informazione sui suoi utenti se non quelle autonomamente immesse dall'utente stesso.
</p>

<p>
    Pennywize riconosce i propri utenti mediante l'identificativo fornito dall'Identity Provider mediante il quale viene effettuato il login (es. Google, Facebook). Le informazioni personali fornite dal provider quali nome, cognome, email e foto profilo vengono mostrate all'utente per finalità legate all'esperienza d'uso; nessuna di queste informazioni viene conservata.
</p>

<p>
    Ovviamente, entrerò in possesso dei tuoi dati se mi contatterai. In tal caso utilizzerò i dati da te forniti (quali indirizzo email o numero di telefono) esclusivamente per risponderti.
</p>

<p>
    Ogni trattamento dei tuoi dati personali avverrà da parte mia ai sensi dell'Informativa sulla Privacy che trovi qui: <a href="https://pennywize.belelabestia.it/privacy">https://pennywize.belelabestia.it/privacy</a>.
</p>

<h2>Cessazione del servizio</h2>

<p>
    In qualunque momento puoi eliminare il tuo account dalla sezione Impostazioni di Pennywize. Ne conseguirà l'eliminazione di tutti i dati associati al tuo utente sul database. Se desideri ottenere una copia di backup dei tuoi dati, puoi ottenerla dalla sopra citata sezione Impostazioni prima di eliminare il tuo account.
</p>

<p>
    D'altra parte io mi riservo il diritto di interrompere l'erogazione del servizio Pennywize per uno o per tutti gli utenti a mia discrezione in qualsiasi momento. Cercherò di comunicare questa mia intenzione con preavviso, in modo da consentire a tutti gli utenti di scaricare una copia dei propri dati.
</p>

<h2>Restituzione ed eliminazione dei dati</h2>

<p>
    Come già detto, puoi in ogni momento ottenere una copia dei tuoi dati tramite l'app. Allo stesso modo, puoi ottenerne la cancellazione.
</p>

<p>
    Se deciderai di eliminare i tuoi dati, al prossimo accesso a Pennywize troverai semplicemente un account vuoto. Pennywize non prevede una registrazione, non raccoglie dati di account specifici. I soli dati che vengono generati e dunque rimossi sono quelli che inserirai in fase di utilizzo.
</p>

<p>
    In ogni caso usando Pennywize accetti di sollevarmi da qualsiasi responsabilità per l'eventuale perdita o corruzione parziale o totale dei tuoi contenuti.
</p>

<h2>Esclusione di responsabilità</h2>

<p>
    Poiché sono il primo (e probabilmente uno dei pochissimi) utente di Pennywize, è nel mio stesso interesse che l'applicazione funzioni bene e in sicurezza. Tuttavia, data la natura dilettantistica e assolutamente non remunerativa di questo progetto, non posso fare promesse di alcun tipo circa la resa qualitativa del servizio. Mi auguro comunque che, se ti imbatterai in Pennywize, vorrai fornirmi un tuo parere dopo averla provata.
</p>

<p>
    Sottolineo ancora che, salvo diversamente specificato in questo accordo, né io né alcun mio fornitore ci impegniamo a garantire alcun tipo di livello qualitativo di servizio e pertanto non possiamo essere ritenuti responsabili per eventuali disservizi o danni causati dall'uso di Pennywize.
</p>

<p>
    Accetti pertanto di lasciare indenne me e miei eventuali fornitori e distributori da qualsiasi richiesta di risarcimento.
</p>

<h2>Modifiche ai termini</h2>

<p>
    Mi riservo in ogni momento e a mia discrezione di modificare unilateralmente questo documento. Tutte le modifiche si riterranno effettive al momento della pubblicazione sulla pagina <a href="https://pennywize.belelabestia.it/terms-and-conditions">https://pennywize.belelabestia.it/terms-and-conditions</a>. Ti raccomando di consultare periodicamente questa pagina e, qualora non dovessi trovarti d'accordo con i termini aggiornati, interrompere istantaneamente l'utilizzo di Pennywize.
</p>

<p>
    L'uso del servizio dopo la modifica dei termini ne implica l'accettazione.
</p>

<h2>Provvedimenti</h2>

<p>
    Nel caso in cui un utente non dovesse rispettare i presenti termini, mi riservo di intervenire in qualsiasi momento. Il fatto che io non intervenga tempestivamente non implica una rinuncia da parte mia a prendere provvedimenti in futuro.
</p>

<h2>Rinvio</h2>

<p>
    Il presente contratto è regolato dalla legge italiana. Per quanto non specificato in questo documento si rimanda alla normativa in vigore.
</p>

<blockquote>
    Versione aggiornata al 01/05/2020
</blockquote>