:host {
    display: block;
}

mat-card.selected::before {
    display: block;
    content: "";
    width: 6px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    
    background-color: greenyellow;
}