:host {
    display: block;
}

mat-card.selected::before {
    display: block;
    content: "";
    width: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--primary);
}